.App {
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url('./Assets/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.turn-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.info-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  background-color: rgba(175,175,175,0.6);
  padding: 8px 5px;
  margin: 10px 2;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.custom-button {
  background: #1982C4;
  border-radius: 999px;
  box-shadow: #1982C4 0 15px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 30px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.custom-button-correct {
  background: #17e23e;
  box-shadow: #17e23e 0 15px 20px -10px;
}

.custom-button-incorrect {
  background: #FF4D4D;
  box-shadow: #FF4D4D 0 15px 20px -10px;
}

.main-header {
  text-align: center;
  font-size: 2em;
  color: #000000;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
}

.controls {
  margin-top: 20px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
}

p {
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

